.idea/
_dev/
dev/
env/
output/
dist/
build/
__pycache__
*.pyc
test/files/ignored/*
test/files/multiple_file_language_option_conversion/ignored/*
*~$*
*.DS_Store
MANIFEST
tags
*.swp
/*.html
*.egg-info
