.idea
dev/
env/
__pycache__
*.pyc
test/files/ignored/*
test/files/multiple_file_language_option_conversion/ignored/*
*~$*
*.DS_Store
dist/
build
*.dev
MANIFEST
tags
*.swp
/*.html
pmix.egg-info
output/
