                        {% if question.in_group == True %}
                            {% set group_styling = ' left-cell-in-group' %}
                            {% set side_letter_styling = 'side-letter-group-left' %}
                        {% else %}
                            {% set group_styling = '' %}
                            {% set side_letter_styling = 'side-letter-left' %}
                        {% endif %}
                        {% if highlighting %}
                            {% set name_highlight = ' bg-light-blue' %}
                            {% set label_hint_highlight = ' bg-light-green' %}
                            {% set constraint_highlight = ' bg-light-red' %}
                        {% endif %}
                        <td class="question-cell align-top{{ group_styling }}" style="flex-direction: row;">
                            <div class="align-top align-text-top{{ name_highlight }}">
                                {% if question.name %}
                                    <span class="{{ side_letter_styling }}">N</span>
                                    <p class="variable">{{ question.name }}</p>
                                {% endif %}
                            </div>
                            <div>
                                {% include 'content/prompt/label-hint-block.html' %}

                                <div class="align-bottom align-text-bottom{{ constraint_highlight }}">
                                    {% if question.constraint %}
                                        <span class="{{ side_letter_styling }}">C</span>
                                        <p class="constraint">{{ question.constraint }}</p>
                                    {% endif %}
                                    {% if question.constraint_message %}
                                        <span class="{{ side_letter_styling }}">M</span>
                                        <p class="constraint-message">{{ question.constraint_message }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </td>
