                        {% if question.in_group == True %}
                            {% set group_styling = ' left-cell-in-group' %}
                            {% set side_letter_styling = 'side-letter-group-left' %}
                        {% else %}
                            {% set group_styling = '' %}
                            {% set side_letter_styling = 'side-letter-left' %}
                        {% endif %}
                        {% if highlighting %}
                            {% set name_highlight = ' bg-light-blue' %}
                            {% set label_hint_highlight = ' bg-light-green' %}
                            {% set constraint_highlight = ' bg-light-red' %}
                        {% endif %}
                            <td class="question-cell-borders align-top{{ group_styling }}" style="flex-direction: row;">
                            <div class="align-top align-text-top{{ name_highlight }}">
                            <!--<div style="height: 10%; display: inline-block; margin: 0 0 0 0; padding: 0 0 0 0;" class="align-top">-->
                                {% if question.name %}
                                    <span class="{{ side_letter_styling }}">N</span><p class="variable">{{ question.name }}</p>
                                {% endif %}
                            </div>
                            <div>
                                <div class="align-text-top{{ label_hint_highlight }}">
                                    <p class="label">{{ question.label }}</p>
                                    <p class="hint">{{ question.hint }}</p>
                                    {{test}}
                                </div>
                                <div class="align-bottom align-text-bottom{{ constraint_highlight }}">
                                    {% if question.constraint %}
                                        <span class="{{ side_letter_styling }}">C</span><p class="constraint">{{ question.constraint }}</p>
                                    {% endif %}
                                    {% if question.constraint_message %}
                                        <span class="{{ side_letter_styling }}">M</span><p class="constraint-message">{{ question.constraint_message }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </td>

                    <!--<tr>-->
                        <!--<td class="upper-border align-top">-->
                            <!--<div style="height: 5%; overflow: hidden;">-->
                                <!--<p class="variable">{{ question.name }}</p>-->
                            <!--</div>-->
                        <!--</td>-->
                        <!--<td class="upper-border left-border align-top">-->
                            <!--<div style="height: 5%; overflow: hidden;">-->
                                <!--&lt;!&ndash;<span class="question-type">{{ question.type }}</span>&ndash;&gt;-->
                                <!--<span class="relevant">{{ question.relevant }}</span>-->
                            <!--</div>-->
                        <!--</td>-->
                    <!--</tr>-->


                    <!--<tr>-->
                        <!--<td class="upper-border align-top">-->
                            <!--<div style="height: 10%; margin: 0 0 0 0; padding: 0 0 0 0;" class="align-top">-->
                            <!--&lt;!&ndash;<div style="height: 10%; display: inline-block; margin: 0 0 0 0; padding: 0 0 0 0;" class="align-top">&ndash;&gt;-->
                                <!--<p class="variable">{{ question.name }}</p>-->
                            <!--</div>-->
                            <!--<div style="height: 90%;">-->
                                <!--<div class="align-top">-->
                                    <!--<p class="label">{{ question.label }}</p>-->
                                    <!--<p class="hint">{{ question.hint }}</p>-->
                                <!--</div>-->
                            <!--<div style="vertical-align: bottom;">-->
                                <!--<p class="constraint"></p>-->
                                <!--<p class="constraint-message"></p>-->
                            <!--</div>-->
                            <!--</div>-->
                        <!--</td>-->
                        <!--<td class="upper-border response-cell align-top">-->
                            <!--<div style="height: 10%; margin: 0 0 0 0; padding: 0 0 0 0;" class="align-top">-->
                            <!--&lt;!&ndash;<div style="height: 10%; display: inline-block; margin: 0 0 0 0; padding: 0 0 0 0;" class="align-top">&ndash;&gt;-->
                                <!--<span class="question-type">{{ question.type }}</span>-->
                                <!--<span class="relevant">{{ question.relevant }}</span>-->
                            <!--</div>-->
                            <!--<div style="height: 90%; display: inline-block;">-->
                                <!--{% if question.simple_type == 'select_one' or question.simple_type == 'select_multiple' %}-->
                                    <!--{% for option in question.input_field[0] %}-->
                                        <!--{# {{ option }} #}-->
                                        <!--{% if question.simple_type == 'select_one' %}<input type="radio" class="" name="{{ option }}" id="{{ question.name }}_Option_{{ loop.index }}" />{% endif %}-->
                                        <!--{% if question.simple_type == 'select_multiple' %}<input type="checkbox" class="" name="{{ option }}" id="{{ question.name }}_Option_{{ loop.index }}" />{% endif %}-->
                                        <!--<label for="{{ question.name }}_Option_{{ loop.index }}">{{ option }}</label>-->
                                        <!--<br/>-->
                                    <!--{% endfor %}-->
                                <!--{% endif %}-->
                                <!--{% if question.simple_type == 'text' %}-->
                                <!--<input type="text" class="input" title="" name="{{ question.variable }}" id="{{ question.name }}"/>-->
                                <!--{% endif %}-->
                                <!--{% if question.simple_type == 'integer' %}-->
                                <!--<input type="number" class="input" title="" name="hh_num" id="{{ question.name }}" min="0" />-->
                                <!--{% endif %}-->
                                <!--{% if question.simple_type == 'decimal' %}-->
                                <!--<input type="number" class="input" title="" name="hh_num" id="{{ question.name }}" min="0" />-->
                                <!--{% endif %}-->
                                <!--{% if question.simple_type == 'date' %}-->
                                <!--<input type="text" class="input" title="" name="{{ question.variable }}" id="{{ question.name }}"/>-->
                                <!--&lt;!&ndash;<input type="date" class="input" name="{{ question.variable }}" id="{{ question.name }}" min="1979-12-31"/>&ndash;&gt;-->
                                <!--{% endif %}-->
                                <!--{% if question.simple_type == 'dateTime' %}-->
                                <!--<input type="text" class="input" title="" name="{{ question.variable }}" id="{{ question.name }}"/>-->
                                <!--&lt;!&ndash;<input type="datetime-local" class="input" name="{{ question.variable }}" id="{{ question.name }}" min="1979-12-31T22:22:55"/>&ndash;&gt;-->
                                <!--{% endif %}-->
                                <!--{% if question.simple_type == 'image'%}-->
                                <!--<input type="text" class="input" title="" name="{{ question.variable }}" id="{{ question.name }}"/>-->
                                <!--{% endif %}-->
                                <!--{% if question.simple_type == 'note' %}-->
                                <!--{% endif %}-->
                            <!--</div>-->
                        <!--</td>-->
                    <!--</tr>-->