                    {% if question.simple_type == 'note' and question.name.startswith('sect_') %}
                      <tr>
                        <td></td>
                      </tr>
                      <tr>
                        <td>
                          <h2>{{ question.label }}</h2>
                          <em>{{ question.hint }}</em>
                        </td>
                      </tr>
                    {% else %}
                    <tr>
                      {% include "content/prompt/prompt-left.html" %}
                      {% include "content/prompt/prompt-right.html" %}
                    </tr>
                    {% endif %}