                    <tr>
                      <td colspan="2" class="odk-table">
                        <table>
                          <tbody>
                            <tr>
                              <td class="odk-table-item-label-cell"></td><!--<th>--><!--</th>-->
                              {% for field in table[0].input_field %}
                                <td class="odk-table-response odk-table-response-header"><!--<th>-->
                                  <span class="label">{{ field.label }}</span> <span class="choice-name">{{ field.name }}</span>
                                </td><!--</th>-->
                              {% endfor %}
                            </tr>

                            {% for row in table[1:] %}
                              {% if row.simple_type == 'select_one' %}
                                {% set input_type = 'radio' %}
                              {% elif row.simple_type == 'select_multiple' %}
                                {% set input_type = 'checkbox' %}
                              {% endif %}
                              <tr>
                                <td class=" odk-table-item-label-cell">
                                  <span class="label">{{ row.label }}</span> <span class="choice-name">{{ row.name }}</span>
                                </td>
                                {% for field in row.input_field %}
                                  <td class="odk-table-response">
                                    <input type="{{ input_type }}" class="" name="" id="{{ row.name }}_{{ loop.index }}"/>
                                  </td>
                                {% endfor %}
                              </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    {# {% if is_group_footer == True %}
                      {% include "content/group/group-footer.html" %}
                    {% endif %} #}